@{
    ViewData["Title"] = "Home Page";
}

<div class="homeBackgroundBox">
    <div class="homeBackground"></div>
    <div class="homeBackground2"></div>
    <div class="homeBackground3"></div>
</div>


<div class="homeHeading1">
    <div>
        <h1>TodoLive Ai</h1>
        <p>This is your AI-powered digital assistant, designed to streamline tasks, provide personalized recommendations, and enhance your online experience. It understands your voice and text commands, learns from your interactions, and ensures your data's security.</p>
    </div>
</div>