<div>
    <h2>TodoLive Ai</h2>
    <h6>Demo Project - Lucas Witkowski - 2023/2024</h6>

    <div class="footerTechLogos">
        @foreach (var img in Model)
        {
            <img src="/Images/TechnologiesLogos/@img" alt="Image" />
        }
    </div>
</div>